*{
  margin: 0;
  padding: 0;
}

html, body{
  font-family: 'Lato', sans-serif;
  color: #fff;
}

a{
  color: #fff;
}

ul{
  list-style: none;
}

li{
  display: inline-block;
}

h1{
  font-size: 3.5em;
}

h2{
   font-size: 2em;
   font-weight: 100;
}

.container{
  width: 90%;
  margin: auto;
}

header{
  position: fixed;
  width: 100%;

  .menu{
    background-color: rgb(127, 79, 211);
    height: 3em;
    display: flex;
    justify-content: space-between;
    -webkit-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.62);
    -moz-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.62);
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.62);
  
    img{
      height: auto;
      width: 100%;
      max-width: 50px;
      margin-left: .6em;
    }

    nav{
      position: relative;
    }

    ul{
      margin-right: 1.4em;
      position: relative;
      top: .8em;
    }

    li{
      margin-left: 2em;
    }

    li:hover{
      border-bottom: 4px solid white;
      transition: all .1s ease;
    }
  }

}

.me{
  color: #000;
  text-align: center;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  h1{
    color: #161616;
  }
  
  h2{
    color: #444444;
  }
}

.container{
  width: 85%;
}

.about-me{
  background-color: rgb(127, 79, 211);

  h2{
    padding: 1em 0 0 0;
    font-size: 2.5em;
  }

  p{
    padding: 1em 0 1.5em 0;
    width: 50%;
    text-align: justify;
    font-size: 1.2em;
    line-height: 1.6em;
  }

  button{
    padding: .6em;
    font-size: 1.2em;
    color: white;
    background-color: rgb(48, 20, 97);
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: all .2s ease;
    margin-bottom: 2em;
  }

  button:hover{
    background-color: #4d2e83;
  }
}

// skills

.skills{
  height: auto;
  color: hsl(0, 0%, 15%);
  width: 90%;
  margin: 0 auto;
}

.skills h1{
  text-align: center;
  margin-top: .6em;
}

.skills h2{
  margin-bottom: .5em;
}

.bar-skills{
  width: 100%;
  margin: 0 auto;
  /* grid properties */
  line-height: 1.6em;
  display: flex;
  margin-top: 2rem;
  justify-content: center;
  font-size: 1.3em;
  text-align: center;
  color: #fff;
  border: 1px solid;
  padding-bottom: 3rem;
}

.front{
  width: 45%;
  background: rgb(127, 79, 211);
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  border-radius: 10px;
  max-width: 400px;
}

.other{
  width: 45%;
  background: rgb(127, 79, 211);;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  border-radius: 10px;
  max-width: 400px;
  margin-left: 2em;
}

.bar-perc{
  width: 80%;
  display: inline-block;
  height: .8em;
  background: #fff;
  text-align: center;
  border-radius: 6px;
}

.pc-html{
  width: 90%;
  height: 100%;
  background-color: rgb(48, 20, 97);
  border-radius: 6px;
}

.pc-css{
  width: 60%;
  height: 100%;
  background-color: rgb(48, 20, 97);
  border-radius: 6px;
}

.pc-js{
  width: 50%;
  height: 100%;
  background-color: rgb(48, 20, 97);
  border-radius: 6px;
}

.pc-responsive{
  width: 80%;
  height: 100%;
  background-color: rgb(48, 20, 97);
  border-radius: 6px;
}

.pc-seo{
  width: 90%;
  height: 100%;
  background-color: rgb(48, 20, 97);
  border-radius: 6px;
}

.experience{
  background-color: rgb(127, 79, 211);
  
  .container{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  h2{
    padding: 1em 0 0 0;
    font-size: 2.5em;
  }

  p{
    padding: 1em 0 1.5em 0;
    width: 50%;
    text-align:justify;
    text-align-last: right;
    -moz-text-align-last: right;
    font-size: 1.2em;
    line-height: 1.6em;
  }

  button{
    padding: .6em;
    font-size: 1.2em;
    color: white;
    background-color: rgb(48, 20, 97);
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: all .2s ease;
    margin-bottom: 2em;
    width: 10em;
  }

  button:hover{
    background-color: #4d2e83;
  }
}

.contact{
  background-color: #fff;
  text-align: center;
  min-height: 270px;
  color: hsl(0, 0%, 15%);
  padding-bottom: 3.6em;
}

.contact h1{
  padding-top: .8em;
}

.contact h2{
  width: 60%;
  margin: auto;
  padding-bottom: 1.6em;
}

.contact nav{
  text-align: center;
  width: 40%;
  margin: auto;
  font-weight: bold;
}

.contact ul{
  display: flex;
  justify-content: space-around;

}

.contact li:hover{
  border-bottom: 4px solid hsl(0, 0%, 15%);;
  transition: all .1s ease;
}

.contact a{
  color: hsl(0, 0%, 15%);
}

.footer{
  width: 100%;
  height: 40px;
  background: rgb(127, 79, 211);
  text-align: right;
  color: #fff;
}

.footer p{
  position: relative;
  right: 20px;
  line-height: 40px;
}
